= button_to( "Log Out", destroy_user_session_path,method: :delete)
%div{style: "text-align: right"}
  = "User: #{current_user.email}"
%div{style: "width: 100%; text-align: center"}
  %h1 Welcome to PlantFrau!!!
  %br
- @plants.each do |plant|
  %div{style: "width: 100%; text-align: left"}
    %table
      %thead
        %tr
          %b
            = "#{plant.name.capitalize} (#{plant.botanical_name})"
      %tr
        %td
          Family:
        %td
          = plant.family
      %tr
        %td
          Description:
        %td
          = plant.description

  %hr